@import url(./style.css);

body {
  background: url(./img/mountains-universe-1.png) no-repeat top center/cover;
}

.telaPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25rem;
  gap: 3rem;
}

button {
  padding: 1.2rem;
  width: 19.5rem;
  background: none;
  text-decoration: none;
  border-color: var(--style-word);
  border-radius: 0.5rem;
  color: var(--style-word);

  cursor: pointer;
}
