* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --style-word: #e1e1e6;
  --section: #ffff;
  --noSelect: #c4c4cc;
}

.navigation {
  margin: 7.2rem 4rem;
}
.navigation nav {
  cursor: pointer;
  display: flex;
  gap: 3.2rem;
}

.navigation nav a {
  text-decoration: none;
  font-size: 2.4rem;
  color: var(--noSelect);
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100vw;
  color: var(--style-word);
  overflow: hidden;
}
h1 {
  font-size: 5rem;
}
